<ngx-loading [show]="loading"></ngx-loading>
<mat-card class="animate__animated animate__bounceInDown">
  <mat-card-title>Hola! Consulta acá tu reporte</mat-card-title>
  <mat-card-content>
    <form #formreporte="ngForm">

      <mat-form-field>
        <input type="text" matInput placeholder="Ingresa tu identificación"  [(ngModel)]="identificacionTecnico" #idTecnico="ngModel" name="identificacionTecnico" required>
        <mat-error *ngIf="idTecnico.errors?.required && (idTecnico.dirty || idTecnico.touched)">Debes ingresar identificación</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ingresa número de semana" name="numSemana"  [(ngModel)]="numSemana" #numeroSemana="ngModel" required >
        <mat-error *ngIf="numeroSemana.errors?.required &&  (numeroSemana.dirty || numeroSemana.touched )">Debes ingresar numero de semana</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="formreporte.invalid" mat-raised-button color="primary" (click)="obtenerReporte()">Consultar</button>
    <button  mat-raised-button color="accent" [routerLink]="['/home']">Volver</button>
  </mat-card-actions>
</mat-card>


<!-- Inicio de tabla -->
<table *ngIf="listadoReporte.length > 0" mat-table [dataSource]="listadoReporte" class="mat-elevation-z8">
  <ng-container matColumnDef="numerosemana">
    <th mat-header-cell *matHeaderCellDef> N° semana </th>
    <td mat-cell *matCellDef="let element"> {{element.NumeroSemana}} </td>
  </ng-container>
  <ng-container matColumnDef="idtecnico">
    <th mat-header-cell *matHeaderCellDef> Id Técnico </th>
    <td mat-cell *matCellDef="let element"> {{element.IdTecnico}} </td>
  </ng-container>
  <ng-container matColumnDef="horasnormales">
    <th mat-header-cell *matHeaderCellDef> Horas normales </th>
    <td mat-cell *matCellDef="let element"> {{element.HorasNormales}} </td>
  </ng-container>
  <ng-container matColumnDef="horasnocturas">
    <th mat-header-cell *matHeaderCellDef> Horas nocturas </th>
    <td mat-cell *matCellDef="let element"> {{element.HorasNocturnas}} </td>
  </ng-container>
  <ng-container matColumnDef="horasdominicales">
    <th mat-header-cell *matHeaderCellDef> Horas dominicales </th>
    <td mat-cell *matCellDef="let element"> {{element.HorasDominicales}} </td>
  </ng-container>
  <ng-container matColumnDef="horasnormalesextras">
    <th mat-header-cell *matHeaderCellDef> Horas normales extras </th>
    <td mat-cell *matCellDef="let element"> {{element.HorasNormalesExtras}} </td>
  </ng-container>
  <ng-container matColumnDef="horasnocturnasextras">
    <th mat-header-cell *matHeaderCellDef> Horas nocturas extras </th>
    <td mat-cell *matCellDef="let element"> {{element.HorasNocturasExtras}} </td>
  </ng-container>
  <ng-container matColumnDef="horasdominicalesextras">
    <th mat-header-cell *matHeaderCellDef> Horas dominicales extras </th>
    <td mat-cell *matCellDef="let element"> {{element.HorasDominicalesExtras}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Fin de tabla -->
